<ion-view>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Allergies
          </div>
          <select ng-model="selectedAllergy"
                  ng-change="addAllergy(selectedAllergy)"
                  ng-options="allergy.name for allergy in allAllergies track by allergy.nodeId"
                  >
          </select>
        </label>
      </div>
    </form>

    <div class="list">
      <div class="card" ng-repeat="allergy in allergies">
        <div class="item item-icon-right">
          {{ allergy.name }}
          <button class="icon button button-assertive button-small ion-trash-a"
                  on-tap="removeAllergyFromUser('{{allergy.nodeId}}')"></button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
