<ion-view>
  <ion-nav-title>
    {{recipe.name}}
  </ion-nav-title>
  <ion-content>
    <div class="list card">
      <div class="item item-body">

        <img class="full-image" src="{{recipe.image}}">
        <p style="white-space: pre;">{{recipe.recipeText}}</p>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item"> <!--href=""-->
          <i class="icon ion-thumbsup"></i>
          Likes (1)
        </a>
        <a class="tab-item" href='#/app/comment'>
          <i class="icon ion-chatbox"></i>
          Comments ({{commentCount}})
        </a>
        <a class="tab-item"> <!--href=""-->
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
