<ion-view>
  <ion-content>
    <form ng-submit="doSearch()">
      <label class="item item-input item-select">
          <div class="input-label">
            Comidas
          </div>
          <select ng-model="prueba">
            <option ng-repeat="pruebaRow in prueba" value="{{pruebaRow.id}}">
              {{pruebaRow.plato}}
            </option>
          </select>
      </label>

      <label class="item">
        <button class="button button-block button-positive" type="submit">Buscar</button>
      </label>
    </form>
  </ion-content>
</ion-view>
