<ion-view>
  <ion-nav-title>
    {{title}}
  </ion-nav-title>
  <ion-content>



    <form>
      <div class="list ng-scope ng-binding">
        <label class="item item-input item-select">
          <div class="input-label">
            Ingredients
          </div>
          <select ng-model="selectedIngredient"
                  ng-change="addIngredientToList(selectedIngredient)"
                  ng-options="ingredient.name for ingredient in ingredients"
          >
          </select>
        </label>
        <label class="item">
          <button
            class="button button-block button-positive"
            on-tap="doSearch()"
          >
            Search!
          </button>
        </label>
      </div>
    </form>
    <div id="ingredientsPreview">
      <div class="item item-divider">
        Selected ingredients
      </div>
      <ul class="list">
        <li class="item" ng-repeat="chosenIngredientName in chosenIngredientsName">
          {{chosenIngredientName}}
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
