<ion-view>
  <ion-nav-title>
    {{title}}
  </ion-nav-title>
  <ion-content>

    <div id="ingredientsPreview">
      {{chosenIngredientsName}}
    </div>

    <form>
      <div class="list ng-scope ng-binding">
        <label class="item item-input item-select">
          <div class="input-label">
            Ingredients
          </div>
          <select ng-model="selectedIngredient"
                  ng-change="addIngredientToList(selectedIngredient)"
                  ng-options="ingredient.name for ingredient in ingredients"
          >
          </select>
        </label>
        <label class="item">
          <button
            class="button button-block button-positive"
            on-tap="doSearch()"
            ui-sref="app.list"
          >
            Search!
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
