
.bar,
[nav-bar-transition=ios] [nav-bar=active] .bar,
.bar.bar-stable .title,
.menu .bar-header{
  background-color: #5A9DF7;
}

.bar .title,
.bar-stable .button.button-icon,
.bar.bar-stable .title,
.item-divider{
  color: #fff;
  font-weight: 800;
}

.item-divider{
  background-color: #79AFF7;
}

.margin-top-40 {
    margin-top: 40px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.right-buttons {
    float: right;
}

.text-align-center {
    text-align: center;
}
